<app-header [showBack]="true" title=" Ajouter un post"></app-header>

<ion-content class="ion-padding">

    <form [formGroup]="postForm">
        <ion-row class="row-img">
            <img (click)="selectImage()" [class.cover]="currentImageUrl"
                 [src]="currentImageUrl?currentImageUrl:'assets/images/image.png'"
                 alt="" class="img"/>

        </ion-row>
        <ion-row>
            <h3>Categories</h3>
        </ion-row>
        <ion-row>
            <app-item-selector (onSelect)="onSelectCategories($event)" [horizontalScroll]="true"
                               [items]="categories"
                               [multiSelection]="true"></app-item-selector>
        </ion-row>
        <ion-row>
            <h3>
                Génération IA
                <ion-icon (click)="doSwitchAiManuel()"
                          [name]="isAi?'chevron-up-outline':'chevron-down-outline'"></ion-icon>
            </h3>
        </ion-row>
        @if (isAi) {
            <ion-row>
                <ion-textarea formControlName="aiPattern" rows="5"></ion-textarea>
            </ion-row>
        }
        <ion-row>
            <h3>Titre</h3>
        </ion-row>
        <ion-row>
            <ion-input formControlName="title"></ion-input>
        </ion-row>
        <ion-row>
            <h3>Contenu</h3>
        </ion-row>
        <ion-row>
            <ion-textarea formControlName="content" rows="5"></ion-textarea>
        </ion-row>
        <ion-row>
            <h3>Durée</h3>
        </ion-row>
        <ion-row>
            <app-item-selector (onSelect)="onSelectDuration($event)" [horizontalScroll]="true"
                               [items]="durations"
            ></app-item-selector>

        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-button (click)="doAddPost()">Valider</ion-button>

        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-button (click)="doRemovePost()" class="remove">Supprimer</ion-button>

        </ion-row>
    </form>
</ion-content>