<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="doBack()" *ngIf="showBack">
                <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="switchSidebar()" *ngIf="showMenu">
                <ion-icon class="ion-hide-md-up " name="reorder-three-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title slot="start">
            {{ title }}
        </ion-title>

        <ion-button (click)="doAdd()" *ngIf="showAdd" class="ion-hide-md-down" slot="end">
            Ajouter un article
        </ion-button>

    </ion-toolbar>
</ion-header>