<ion-header>

</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="signInForm">
        <div class="title">
            <h4>Lyftr App</h4>
            <p>C'est parti !</p>
        </div>


        <ion-input  formControlName="email" placeholder="Username" class="primary-input"></ion-input>
        <ion-input formControlName="password" placeholder="Password" type="password" class="primary-input"></ion-input>

        <div class="ion-margin-top ion-text-right forget">
            <a>Forgot Password?</a>
        </div>

        <div class="ion-margin-top ion-text-left">
            <ion-checkbox [checked]="rememberMe">Se souvenir de moi</ion-checkbox>
        </div>

        <div class="ion-margin-top">
            <ion-button [disabled]="signInForm.invalid" (click)="onSignInFormSubmit()" expand="block" >LOGIN</ion-button>
        </div>



        <div class="ion-margin-top ion-text-center">
            <a>Close</a>
        </div>
    </form>
</ion-content>
