ion-content {
  --background: var(--background-color);
}

.logo {
  width: 155px;
  margin-top : 48px ;
}
h1{
  font-size: 45px;
  text-align: left;
}
form {
  margin-top: 32px;
}

ion-input {
  border: 2px solid #FFFFFFAA;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 16px;
}

.button {
  margin-top: 32px;
}