<ion-content class=" content">
    <ion-img class="logo" src="assets/images/logo-big.png"></ion-img>
    <h1>Simplifiez la <br>mise à jour de votre Wordpress</h1>
    <form [formGroup]="signInForm">

        <ion-label>Email</ion-label>
        <ion-input formControlName="email" placeholder="Votre email"></ion-input>
        <ion-label>Mot de passe</ion-label>
        <ion-input class="primary-input" formControlName="password" placeholder="Votre mot de passe"
                   type="password"></ion-input>

        <div class="ion-margin-top ion-text-left">
            <ion-checkbox [checked]="rememberMe" labelPlacement="end">Se souvenir de moi</ion-checkbox>
        </div>

        <div class="ion-margin-top button">
            <ion-button (click)="onSignInFormSubmit()" [disabled]="signInForm.invalid" expand="block" shape="round">
                Se connecter
            </ion-button>
        </div>

    </form>
</ion-content>
