<ion-content [fullscreen]="true" class="ion-padding">
    <ion-img src="assets/images/logo-small.png"></ion-img>
    <p style="margin-top: 5px ; margin-bottom: 5px">{{ currentHostName }}</p>
    <app-category-selector horizontalScroll="true"></app-category-selector>

    <ion-fab horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="doAdd()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-content>
        <ion-list>
            @for (item of items; track item.id) {
                <ion-item (click)="doEdit ( item.id  )">

                    <img src="{{item.imageUrl}}" class="img" alt="">
                    <ion-label class="title">{{ item.title }}</ion-label>


                </ion-item>
            }

        </ion-list>

    </ion-content>

</ion-content>
