<ion-header>
    <ion-toolbar>

        <ion-icon (click)="switchSidebar()" class="ion-hide-md-up menu" name="reorder-three-outline"
                  slot="start"></ion-icon>

        <ion-title slot="start">
            Gestion des articles
        </ion-title>

        <ion-button (click)="doAdd()" class="ion-hide-md-down" slot="end">
            Ajouter un article
        </ion-button>

    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding content ">
    <app-category-selector horizontalScroll="true"></app-category-selector>

    <ion-fab class="ion-hide-md-up" horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="doAdd()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div class="content-list ion-no-margin ion-no-padding">
        <ion-list>
            @for (item of items; track item.id) {
                <ion-item (click)="doEdit ( item.id  )" class="article" lines="none">
                    <ion-thumbnail class="article-img">
                        <img src="{{item.imageUrl}}"/>
                    </ion-thumbnail>
                    <div>
                        <div class="article-title">{{ item.title }}</div>
                        <div class="article-description">{{ item.content|stripHtml }}</div>
                    </div>

                </ion-item>
                <hr/>
            }
        </ion-list>
    </div>
</ion-content>
