<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lyftr
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="doAdd()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-content>
        <ion-list>
            <ion-item *ngFor="let item of items; let index" (click)="doEdit ( item.id  )">

                    <img src="{{item.imageUrl}}" class="img">
                <ion-label>{{ item.title }}</ion-label>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-content>
