@if ( horizontalScroll == "true" ) {


<div  class="scroller">

    <div class="container-scroller">

        @for (category of categories; track category.id) {

        @if (category.raw.selected ) {
            <span class="chip chip-selected" (click)="doSelectCategory(category)" >{{category.name}}</span>
        } @else {
            <span class="chip" (click)="doSelectCategory(category)" >{{category.name}}</span>
        }
    } @empty {
        Aucune categorie
    }
    </div>
</div>
} @else {
    <ion-row>
        @for (category of categories; track category.id) {

            @if (category.raw.selected ) {
                <ion-chip class="chip-selected" (click)="doSelectCategory(category)" >{{category.name}}</ion-chip>
            } @else {
                <ion-chip (click)="doSelectCategory(category)" >{{category.name}}</ion-chip>
            }
        } @empty {
            Aucune categorie
        }
    </ion-row>
}